* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #49547B;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    font-size: 24px;
}

body{
    /*background-image: url("bg_v2.jpg");*/
    background-color: #edf0fa;
    /*background-position: center; */
    background-size: cover; 
    background-attachment: fixed;
}

.container {
    max-width: 100%;
    margin: 1%;
}

#top{
    padding: 10%;
}
#middle{}
#bottom{}

#title{
    font-size: 320%;    
}

/* reutilizables */
.ib_high {
    border: none;
    background: none;
    color: white;
    background-color: #49547B;
    padding: 10px;
}
.ib_norm {
    border: none;
    background: none;
    padding: 10px;
}