
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adminde Time Card</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="" href="../static/tc_logo.ico">
</head>
<body>
    <div class="container">
        <div class="top">
            <input type="button" id="B_Login" value="Login">
            <input type="button" id="B_Register" value="Sign Up">
        </div>
        <div class="middle">
            <p>A simple Timecard for your business</p>
            <p>A simple app to control the time card for all your employees, manage from web and let your employees check in and out from their own devices. Give it a try sign up for free. </p>
        </div>
        <div class="bottom">
            <a href="#"> Contact </a> - 
            <a href="#"> Legal </a> - 
            <a href="#"> About </a> - 
            <a href="#"> Jobs </a>
        </div>
    </div>
    <script src="../static/funct.js"></script>
</body>
</html>