
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Adminde Time Card</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" type="" href="../static/tc_logo.ico">
    </head>
    <body>
        <div class="container">
            <div id="top">
                <input type="button" class="ib_norm" id="B_Login" value="Login">
                <input type="button" class="ib_high" id="B_Register" value="Register">
            </div>
            <div id="middle">
                <p id="m_title">A simple Timecard for your Business</p>
                <div id="m_buttons">
                    <input type="button" class="ib_norm" id="B_Login" value="Login">
                    <input type="button" class="ib_high" id="B_Register" value="Register">
                </div>
                <p id="m_message">A simple app to control the time card for all your employees, manage from web and let your employees check in and out from their own devices. Give it a try sign up for free. </p>
            </div>
            <div id="bottom">
                <p id="bot_message">A simple app to control the time card for all your employees, manage from web and let your employees check in and out from their own devices. Give it a try sign up for free. </p>
                <a href="#" id="white_links"> Contact </a> - 
                <a href="#" id="white_links"> Legal </a> - 
                <a href="#" id="white_links"> About </a> - 
                <a href="#" id="white_links"> Jobs </a>
            </div>
        </div>
        <script src="../static/funct.js"></script>
    </body>
</html>